[Desktop Entry]
Name=CuteMaze
Name[cs]=CuteMaze
Name[de]=CuteMaze
Name[es]=CuteMaze
Name[lt]=CuteMaze
Name[nl]=CuteMaze
Name[pl]=CuteMaze
Name[pt_BR]=CuteMaze
Name[ro]=CuteMaze
Name[ru]=CuteMaze
Name[tr]=CuteMaze
GenericName=Simple Maze Game
GenericName[cs]=Hra odehrávající se v bludišti
GenericName[de]=Ein einfaches Labyrinth-Spiel
GenericName[es]=Juego de laberinto sencillo
GenericName[he]=משחק מבוך פשוט
GenericName[lt]=Paprastas Labirintų Žaidimas
GenericName[nl]=Simpel doolhof spelletje
GenericName[pl]=Prosta gra labiryntu
GenericName[pt_BR]=Um jogo simples de labirinto
GenericName[ro]=Simplu joc labirint
GenericName[ru]=Простая игра-лабиринт
GenericName[tr]=Basit Labirent Oyunu
Comment=Find targets in a maze
Exec=cutemaze
Icon=cutemaze
Terminal=false
Type=Application
Categories=Qt;Game;LogicGame;
