[Desktop Entry]
Name=CuteMaze
Name[cs]=CuteMaze
Name[de]=CuteMaze
Name[el]=CuteMaze
Name[eo]=CuteMaze
Name[es]=CuteMaze
Name[fi]=CuteMaze
Name[lt]=CuteMaze
Name[nl]=CuteMaze
Name[pl]=CuteMaze
Name[pt]=CuteMaze
Name[pt_BR]=CuteMaze
Name[ro]=CuteMaze
Name[ru]=CuteMaze
Name[tr]=CuteMaze
Name[zh]=CuteMaze
GenericName=Simple Maze Game
GenericName[cs]=Hra odehrávající se v bludišti
GenericName[de]=Ein einfaches Labyrinth-Spiel
GenericName[el]=Απλό παιχνίδι λαβυρίνθου
GenericName[eo]=Simpla Labirintludo
GenericName[es]=Juego de laberinto sencillo
GenericName[fi]=Yksinkertainen labyrinttipeli
GenericName[he]=משחק מבוך פשוט
GenericName[lt]=Paprastas labirintų žaidimas
GenericName[nl]=Eenvoudig doolhofspel
GenericName[pl]=Prosta gra labiryntu
GenericName[pt]=Jogo Simples de Quebra-Cabeças
GenericName[pt_BR]=Um jogo simples de labirinto
GenericName[ro]=Simplu joc labirint
GenericName[ru]=Простая игра-лабиринт
GenericName[tr]=Basit Labirent Oyunu
GenericName[zh]=简洁的迷宫游戏
Comment=Find targets in a maze
Comment[cs]=Hledání cílů v bludišti
Comment[de]=Suchen Sie Ziele in einem Labyrinth
Comment[el]=Βρείτε τους στόχους στο λαβύρινθο.
Comment[eo]=Trovu celojn en labirinto
Comment[fi]=Etsi kohteet labyrintissä
Comment[he]=מצא מטרות בתוך מבוך
Comment[lt]=Raskite objektus labirinte
Comment[nl]=Vind doelen in een doolhof
Comment[pl]=Znajdź cele w labiryncie
Comment[pt]=Procura alvos num labirinto
Comment[ro]=Căutaţi ţintele într-un labirint
Comment[zh]=在迷宫中寻找目标
Exec=cutemaze
Icon=cutemaze
Terminal=false
Type=Application
Categories=Qt;Game;LogicGame;
Keywords=game;logic;
